@charset "EUC-KR";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
.snow {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.flake {
  position: absolute;
  border-radius: 50%;
  -webkit-transform: translateY(0) rotateX(0) rotateY(0);
  -moz-transform: translateY(0) rotateX(0) rotateY(0);
  -ms-transform: translateY(0) rotateX(0) rotateY(0);
  -o-transform: translateY(0) rotateX(0) rotateY(0);
  transform: translateY(0) rotateX(0) rotateY(0);
  background-image: -owg-linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -owg-linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -owg-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -owg-linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -moz-linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: -o-linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), -o-linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), -o-linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #ffffff 50%, #ffffff 60%, rgba(255, 255, 255, 0) 60%), linear-gradient(45deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%), linear-gradient(135deg, rgba(255, 255, 255, 0) 33%, #ffffff 53%, #ffffff 57%, rgba(255, 255, 255, 0) 65%);
}

.flake:nth-child(1) {
  width: 12px;
  height: 12px;
  top: -462px;
  left: 20%;
  opacity: 0.93;
  filter: blur(4px);
  -webkit-animation: 33s flakes linear infinite;
  -moz-animation: 33s flakes linear infinite;
  -o-animation: 33s flakes linear infinite;
  animation: 33s flakes linear infinite;
}

.flake:nth-child(2) {
  width: 19px;
  height: 19px;
  top: -450px;
  left: 29%;
  opacity: 0.81;
  filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  -moz-animation: 19s flakes linear infinite;
  -o-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(3) {
  width: 10px;
  height: 10px;
  top: -299px;
  left: 48%;
  opacity: 0.78;
  filter: blur(3px);
  -webkit-animation: 20s flakes linear infinite;
  -moz-animation: 20s flakes linear infinite;
  -o-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

.flake:nth-child(4) {
  width: 17px;
  height: 17px;
  top: -177px;
  left: 48%;
  opacity: 0.71;
  filter: blur(3px);
  -webkit-animation: 30s flakes linear infinite;
  -moz-animation: 30s flakes linear infinite;
  -o-animation: 30s flakes linear infinite;
  animation: 30s flakes linear infinite;
}

.flake:nth-child(5) {
  width: 18px;
  height: 18px;
  top: -90px;
  left: 71%;
  opacity: 0.71;
  filter: blur(4px);
  -webkit-animation: 58s flakes linear infinite;
  -moz-animation: 58s flakes linear infinite;
  -o-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(6) {
  width: 8px;
  height: 8px;
  top: -630px;
  left: 95%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 59s flakes linear infinite;
  -moz-animation: 59s flakes linear infinite;
  -o-animation: 59s flakes linear infinite;
  animation: 59s flakes linear infinite;
}

.flake:nth-child(7) {
  width: 9px;
  height: 9px;
  top: -496px;
  left: 80%;
  opacity: 0.96;
  filter: blur(3px);
  -webkit-animation: 41s flakes linear infinite;
  -moz-animation: 41s flakes linear infinite;
  -o-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(8) {
  width: 14px;
  height: 14px;
  top: -380px;
  left: 33%;
  opacity: 0.89;
  filter: blur(4px);
  -webkit-animation: 33s flakes linear infinite;
  -moz-animation: 33s flakes linear infinite;
  -o-animation: 33s flakes linear infinite;
  animation: 33s flakes linear infinite;
}

.flake:nth-child(9) {
  width: 6px;
  height: 6px;
  top: -264px;
  left: 56%;
  opacity: 0.84;
  filter: blur(3px);
  -webkit-animation: 24s flakes linear infinite;
  -moz-animation: 24s flakes linear infinite;
  -o-animation: 24s flakes linear infinite;
  animation: 24s flakes linear infinite;
}

.flake:nth-child(10) {
  width: 11px;
  height: 11px;
  top: -340px;
  left: 15%;
  opacity: 0.87;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  -moz-animation: 63s flakes linear infinite;
  -o-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(11) {
  width: 6px;
  height: 6px;
  top: -283px;
  left: 88%;
  opacity: 0.76;
  filter: blur(3px);
  -webkit-animation: 50s flakes linear infinite;
  -moz-animation: 50s flakes linear infinite;
  -o-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(12) {
  width: 16px;
  height: 16px;
  top: -633px;
  left: 27%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  -moz-animation: 27s flakes linear infinite;
  -o-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(13) {
  width: 11px;
  height: 11px;
  top: -644px;
  left: 69%;
  opacity: 0.56;
  filter: blur(4px);
  -webkit-animation: 61s flakes linear infinite;
  -moz-animation: 61s flakes linear infinite;
  -o-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(14) {
  width: 19px;
  height: 19px;
  top: -172px;
  left: 20%;
  opacity: 0.9;
  filter: blur(4px);
  -webkit-animation: 49s flakes linear infinite;
  -moz-animation: 49s flakes linear infinite;
  -o-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(15) {
  width: 6px;
  height: 6px;
  top: -474px;
  left: 43%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 33s flakes linear infinite;
  -moz-animation: 33s flakes linear infinite;
  -o-animation: 33s flakes linear infinite;
  animation: 33s flakes linear infinite;
}

.flake:nth-child(16) {
  width: 7px;
  height: 7px;
  top: -601px;
  left: 21%;
  opacity: 0.7;
  filter: blur(3px);
  -webkit-animation: 67s flakes linear infinite;
  -moz-animation: 67s flakes linear infinite;
  -o-animation: 67s flakes linear infinite;
  animation: 67s flakes linear infinite;
}

.flake:nth-child(17) {
  width: 18px;
  height: 18px;
  top: -329px;
  left: 66%;
  opacity: 0.63;
  filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(18) {
  width: 10px;
  height: 10px;
  top: -484px;
  left: 22%;
  opacity: 0.74;
  filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  -moz-animation: 25s flakes linear infinite;
  -o-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(19) {
  width: 20px;
  height: 20px;
  top: -23px;
  left: 97%;
  opacity: 0.73;
  filter: blur(3px);
  -webkit-animation: 40s flakes linear infinite;
  -moz-animation: 40s flakes linear infinite;
  -o-animation: 40s flakes linear infinite;
  animation: 40s flakes linear infinite;
}

.flake:nth-child(20) {
  width: 13px;
  height: 13px;
  top: -199px;
  left: 78%;
  opacity: 0.75;
  filter: blur(3px);
  -webkit-animation: 49s flakes linear infinite;
  -moz-animation: 49s flakes linear infinite;
  -o-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(21) {
  width: 18px;
  height: 18px;
  top: -285px;
  left: 25%;
  opacity: 0.88;
  filter: blur(4px);
  -webkit-animation: 68s flakes linear infinite;
  -moz-animation: 68s flakes linear infinite;
  -o-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(22) {
  width: 11px;
  height: 11px;
  top: -251px;
  left: 8%;
  opacity: 0.98;
  filter: blur(4px);
  -webkit-animation: 26s flakes linear infinite;
  -moz-animation: 26s flakes linear infinite;
  -o-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(23) {
  width: 14px;
  height: 14px;
  top: -584px;
  left: 80%;
  opacity: 0.88;
  filter: blur(4px);
  -webkit-animation: 68s flakes linear infinite;
  -moz-animation: 68s flakes linear infinite;
  -o-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(24) {
  width: 11px;
  height: 11px;
  top: -597px;
  left: 37%;
  opacity: 0.62;
  filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  -moz-animation: 70s flakes linear infinite;
  -o-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(25) {
  width: 18px;
  height: 18px;
  top: -466px;
  left: 12%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 29s flakes linear infinite;
  -moz-animation: 29s flakes linear infinite;
  -o-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(26) {
  width: 13px;
  height: 13px;
  top: -205px;
  left: 73%;
  opacity: 0.86;
  filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  -moz-animation: 50s flakes linear infinite;
  -o-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(27) {
  width: 7px;
  height: 7px;
  top: -168px;
  left: 82%;
  opacity: 0.8;
  filter: blur(4px);
  -webkit-animation: 26s flakes linear infinite;
  -moz-animation: 26s flakes linear infinite;
  -o-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(28) {
  width: 13px;
  height: 13px;
  top: -324px;
  left: 88%;
  opacity: 0.98;
  filter: blur(3px);
  -webkit-animation: 70s flakes linear infinite;
  -moz-animation: 70s flakes linear infinite;
  -o-animation: 70s flakes linear infinite;
  animation: 70s flakes linear infinite;
}

.flake:nth-child(29) {
  width: 8px;
  height: 8px;
  top: -237px;
  left: 41%;
  opacity: 0.65;
  filter: blur(3px);
  -webkit-animation: 59s flakes linear infinite;
  -moz-animation: 59s flakes linear infinite;
  -o-animation: 59s flakes linear infinite;
  animation: 59s flakes linear infinite;
}

.flake:nth-child(30) {
  width: 13px;
  height: 13px;
  top: -156px;
  left: 11%;
  opacity: 0.53;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(31) {
  width: 10px;
  height: 10px;
  top: -331px;
  left: 29%;
  opacity: 0.73;
  filter: blur(3px);
  -webkit-animation: 49s flakes linear infinite;
  -moz-animation: 49s flakes linear infinite;
  -o-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(32) {
  width: 11px;
  height: 11px;
  top: -538px;
  left: 31%;
  opacity: 0.86;
  filter: blur(4px);
  -webkit-animation: 26s flakes linear infinite;
  -moz-animation: 26s flakes linear infinite;
  -o-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(33) {
  width: 19px;
  height: 19px;
  top: -167px;
  left: 30%;
  opacity: 0.9;
  filter: blur(4px);
  -webkit-animation: 30s flakes linear infinite;
  -moz-animation: 30s flakes linear infinite;
  -o-animation: 30s flakes linear infinite;
  animation: 30s flakes linear infinite;
}

.flake:nth-child(34) {
  width: 7px;
  height: 7px;
  top: -20px;
  left: 6%;
  opacity: 0.56;
  filter: blur(4px);
  -webkit-animation: 49s flakes linear infinite;
  -moz-animation: 49s flakes linear infinite;
  -o-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(35) {
  width: 18px;
  height: 18px;
  top: -393px;
  left: 49%;
  opacity: 0.6;
  filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  -moz-animation: 66s flakes linear infinite;
  -o-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(36) {
  width: 20px;
  height: 20px;
  top: -559px;
  left: 26%;
  opacity: 0.64;
  filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(37) {
  width: 10px;
  height: 10px;
  top: -355px;
  left: 90%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 46s flakes linear infinite;
  -moz-animation: 46s flakes linear infinite;
  -o-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(38) {
  width: 13px;
  height: 13px;
  top: -472px;
  left: 82%;
  opacity: 0.82;
  filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  -moz-animation: 27s flakes linear infinite;
  -o-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(39) {
  width: 11px;
  height: 11px;
  top: -140px;
  left: 51%;
  opacity: 0.94;
  filter: blur(4px);
  -webkit-animation: 51s flakes linear infinite;
  -moz-animation: 51s flakes linear infinite;
  -o-animation: 51s flakes linear infinite;
  animation: 51s flakes linear infinite;
}

.flake:nth-child(40) {
  width: 6px;
  height: 6px;
  top: -305px;
  left: 43%;
  opacity: 0.7;
  filter: blur(3px);
  -webkit-animation: 51s flakes linear infinite;
  -moz-animation: 51s flakes linear infinite;
  -o-animation: 51s flakes linear infinite;
  animation: 51s flakes linear infinite;
}

.flake:nth-child(41) {
  width: 14px;
  height: 14px;
  top: -402px;
  left: 47%;
  opacity: 0.55;
  filter: blur(4px);
  -webkit-animation: 56s flakes linear infinite;
  -moz-animation: 56s flakes linear infinite;
  -o-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(42) {
  width: 6px;
  height: 6px;
  top: -461px;
  left: 62%;
  opacity: 0.73;
  filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(43) {
  width: 16px;
  height: 16px;
  top: -424px;
  left: 45%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  -moz-animation: 53s flakes linear infinite;
  -o-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(44) {
  width: 15px;
  height: 15px;
  top: -342px;
  left: 34%;
  opacity: 0.52;
  filter: blur(4px);
  -webkit-animation: 69s flakes linear infinite;
  -moz-animation: 69s flakes linear infinite;
  -o-animation: 69s flakes linear infinite;
  animation: 69s flakes linear infinite;
}

.flake:nth-child(45) {
  width: 19px;
  height: 19px;
  top: -456px;
  left: 83%;
  opacity: 0.77;
  filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  -moz-animation: 17s flakes linear infinite;
  -o-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(46) {
  width: 8px;
  height: 8px;
  top: -471px;
  left: 29%;
  opacity: 0.52;
  filter: blur(3px);
  -webkit-animation: 46s flakes linear infinite;
  -moz-animation: 46s flakes linear infinite;
  -o-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(47) {
  width: 9px;
  height: 9px;
  top: -447px;
  left: 81%;
  opacity: 0.73;
  filter: blur(4px);
  -webkit-animation: 65s flakes linear infinite;
  -moz-animation: 65s flakes linear infinite;
  -o-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(48) {
  width: 18px;
  height: 18px;
  top: -230px;
  left: 45%;
  opacity: 0.93;
  filter: blur(4px);
  -webkit-animation: 35s flakes linear infinite;
  -moz-animation: 35s flakes linear infinite;
  -o-animation: 35s flakes linear infinite;
  animation: 35s flakes linear infinite;
}

.flake:nth-child(49) {
  width: 9px;
  height: 9px;
  top: -567px;
  left: 65%;
  opacity: 0.68;
  filter: blur(3px);
  -webkit-animation: 60s flakes linear infinite;
  -moz-animation: 60s flakes linear infinite;
  -o-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(50) {
  width: 14px;
  height: 14px;
  top: -613px;
  left: 46%;
  opacity: 0.93;
  filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  -moz-animation: 31s flakes linear infinite;
  -o-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(51) {
  width: 10px;
  height: 10px;
  top: -518px;
  left: 34%;
  opacity: 1;
  filter: blur(4px);
  -webkit-animation: 50s flakes linear infinite;
  -moz-animation: 50s flakes linear infinite;
  -o-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(52) {
  width: 11px;
  height: 11px;
  top: -524px;
  left: 65%;
  opacity: 0.86;
  filter: blur(4px);
  -webkit-animation: 26s flakes linear infinite;
  -moz-animation: 26s flakes linear infinite;
  -o-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(53) {
  width: 20px;
  height: 20px;
  top: -330px;
  left: 48%;
  opacity: 0.84;
  filter: blur(3px);
  -webkit-animation: 29s flakes linear infinite;
  -moz-animation: 29s flakes linear infinite;
  -o-animation: 29s flakes linear infinite;
  animation: 29s flakes linear infinite;
}

.flake:nth-child(54) {
  width: 19px;
  height: 19px;
  top: -608px;
  left: 7%;
  opacity: 0.97;
  filter: blur(4px);
  -webkit-animation: 62s flakes linear infinite;
  -moz-animation: 62s flakes linear infinite;
  -o-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(55) {
  width: 19px;
  height: 19px;
  top: -692px;
  left: 38%;
  opacity: 0.73;
  filter: blur(3px);
  -webkit-animation: 42s flakes linear infinite;
  -moz-animation: 42s flakes linear infinite;
  -o-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(56) {
  width: 9px;
  height: 9px;
  top: -26px;
  left: 36%;
  opacity: 0.68;
  filter: blur(4px);
  -webkit-animation: 51s flakes linear infinite;
  -moz-animation: 51s flakes linear infinite;
  -o-animation: 51s flakes linear infinite;
  animation: 51s flakes linear infinite;
}

.flake:nth-child(57) {
  width: 19px;
  height: 19px;
  top: -505px;
  left: 39%;
  opacity: 0.87;
  filter: blur(3px);
  -webkit-animation: 45s flakes linear infinite;
  -moz-animation: 45s flakes linear infinite;
  -o-animation: 45s flakes linear infinite;
  animation: 45s flakes linear infinite;
}

.flake:nth-child(58) {
  width: 20px;
  height: 20px;
  top: -129px;
  left: 95%;
  opacity: 0.71;
  filter: blur(3px);
  -webkit-animation: 61s flakes linear infinite;
  -moz-animation: 61s flakes linear infinite;
  -o-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(59) {
  width: 12px;
  height: 12px;
  top: -637px;
  left: 77%;
  opacity: 0.89;
  filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(60) {
  width: 6px;
  height: 6px;
  top: -464px;
  left: 82%;
  opacity: 0.94;
  filter: blur(3px);
  -webkit-animation: 64s flakes linear infinite;
  -moz-animation: 64s flakes linear infinite;
  -o-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

.flake:nth-child(61) {
  width: 13px;
  height: 13px;
  top: -133px;
  left: 32%;
  opacity: 0.51;
  filter: blur(4px);
  -webkit-animation: 32s flakes linear infinite;
  -moz-animation: 32s flakes linear infinite;
  -o-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(62) {
  width: 10px;
  height: 10px;
  top: -93px;
  left: 81%;
  opacity: 0.72;
  filter: blur(3px);
  -webkit-animation: 66s flakes linear infinite;
  -moz-animation: 66s flakes linear infinite;
  -o-animation: 66s flakes linear infinite;
  animation: 66s flakes linear infinite;
}

.flake:nth-child(63) {
  width: 12px;
  height: 12px;
  top: -507px;
  left: 100%;
  opacity: 0.99;
  filter: blur(3px);
  -webkit-animation: 54s flakes linear infinite;
  -moz-animation: 54s flakes linear infinite;
  -o-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

.flake:nth-child(64) {
  width: 10px;
  height: 10px;
  top: -181px;
  left: 75%;
  opacity: 0.78;
  filter: blur(3px);
  -webkit-animation: 55s flakes linear infinite;
  -moz-animation: 55s flakes linear infinite;
  -o-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(65) {
  width: 15px;
  height: 15px;
  top: -660px;
  left: 10%;
  opacity: 0.92;
  filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  -moz-animation: 17s flakes linear infinite;
  -o-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(66) {
  width: 6px;
  height: 6px;
  top: -349px;
  left: 17%;
  opacity: 0.92;
  filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(67) {
  width: 6px;
  height: 6px;
  top: -414px;
  left: 44%;
  opacity: 0.76;
  filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  -moz-animation: 43s flakes linear infinite;
  -o-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(68) {
  width: 10px;
  height: 10px;
  top: -114px;
  left: 90%;
  opacity: 0.66;
  filter: blur(3px);
  -webkit-animation: 58s flakes linear infinite;
  -moz-animation: 58s flakes linear infinite;
  -o-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(69) {
  width: 7px;
  height: 7px;
  top: -515px;
  left: 13%;
  opacity: 0.55;
  filter: blur(4px);
  -webkit-animation: 44s flakes linear infinite;
  -moz-animation: 44s flakes linear infinite;
  -o-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

.flake:nth-child(70) {
  width: 10px;
  height: 10px;
  top: -98px;
  left: 54%;
  opacity: 0.6;
  filter: blur(3px);
  -webkit-animation: 46s flakes linear infinite;
  -moz-animation: 46s flakes linear infinite;
  -o-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(71) {
  width: 16px;
  height: 16px;
  top: -80px;
  left: 41%;
  opacity: 0.51;
  filter: blur(4px);
  -webkit-animation: 45s flakes linear infinite;
  -moz-animation: 45s flakes linear infinite;
  -o-animation: 45s flakes linear infinite;
  animation: 45s flakes linear infinite;
}

.flake:nth-child(72) {
  width: 6px;
  height: 6px;
  top: -70px;
  left: 23%;
  opacity: 0.79;
  filter: blur(3px);
  -webkit-animation: 42s flakes linear infinite;
  -moz-animation: 42s flakes linear infinite;
  -o-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(73) {
  width: 18px;
  height: 18px;
  top: -167px;
  left: 54%;
  opacity: 0.75;
  filter: blur(4px);
  -webkit-animation: 19s flakes linear infinite;
  -moz-animation: 19s flakes linear infinite;
  -o-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(74) {
  width: 14px;
  height: 14px;
  top: -530px;
  left: 98%;
  opacity: 0.99;
  filter: blur(4px);
  -webkit-animation: 56s flakes linear infinite;
  -moz-animation: 56s flakes linear infinite;
  -o-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(75) {
  width: 14px;
  height: 14px;
  top: -376px;
  left: 17%;
  opacity: 0.57;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  -moz-animation: 63s flakes linear infinite;
  -o-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(76) {
  width: 8px;
  height: 8px;
  top: -429px;
  left: 24%;
  opacity: 0.98;
  filter: blur(4px);
  -webkit-animation: 38s flakes linear infinite;
  -moz-animation: 38s flakes linear infinite;
  -o-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(77) {
  width: 10px;
  height: 10px;
  top: -83px;
  left: 72%;
  opacity: 0.75;
  filter: blur(3px);
  -webkit-animation: 54s flakes linear infinite;
  -moz-animation: 54s flakes linear infinite;
  -o-animation: 54s flakes linear infinite;
  animation: 54s flakes linear infinite;
}

.flake:nth-child(78) {
  width: 14px;
  height: 14px;
  top: -578px;
  left: 68%;
  opacity: 0.62;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  -moz-animation: 27s flakes linear infinite;
  -o-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(79) {
  width: 8px;
  height: 8px;
  top: -105px;
  left: 35%;
  opacity: 0.59;
  filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  -moz-animation: 31s flakes linear infinite;
  -o-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(80) {
  width: 10px;
  height: 10px;
  top: -278px;
  left: 93%;
  opacity: 0.68;
  filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(81) {
  width: 12px;
  height: 12px;
  top: -383px;
  left: 86%;
  opacity: 0.85;
  filter: blur(4px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(82) {
  width: 9px;
  height: 9px;
  top: -69px;
  left: 70%;
  opacity: 0.57;
  filter: blur(4px);
  -webkit-animation: 62s flakes linear infinite;
  -moz-animation: 62s flakes linear infinite;
  -o-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(83) {
  width: 8px;
  height: 8px;
  top: -24px;
  left: 59%;
  opacity: 0.83;
  filter: blur(3px);
  -webkit-animation: 50s flakes linear infinite;
  -moz-animation: 50s flakes linear infinite;
  -o-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(84) {
  width: 12px;
  height: 12px;
  top: -659px;
  left: 50%;
  opacity: 0.73;
  filter: blur(4px);
  -webkit-animation: 65s flakes linear infinite;
  -moz-animation: 65s flakes linear infinite;
  -o-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(85) {
  width: 17px;
  height: 17px;
  top: -121px;
  left: 78%;
  opacity: 0.64;
  filter: blur(4px);
  -webkit-animation: 17s flakes linear infinite;
  -moz-animation: 17s flakes linear infinite;
  -o-animation: 17s flakes linear infinite;
  animation: 17s flakes linear infinite;
}

.flake:nth-child(86) {
  width: 11px;
  height: 11px;
  top: -136px;
  left: 26%;
  opacity: 0.97;
  filter: blur(3px);
  -webkit-animation: 42s flakes linear infinite;
  -moz-animation: 42s flakes linear infinite;
  -o-animation: 42s flakes linear infinite;
  animation: 42s flakes linear infinite;
}

.flake:nth-child(87) {
  width: 10px;
  height: 10px;
  top: -174px;
  left: 81%;
  opacity: 0.62;
  filter: blur(3px);
  -webkit-animation: 53s flakes linear infinite;
  -moz-animation: 53s flakes linear infinite;
  -o-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(88) {
  width: 8px;
  height: 8px;
  top: -682px;
  left: 89%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 55s flakes linear infinite;
  -moz-animation: 55s flakes linear infinite;
  -o-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(89) {
  width: 19px;
  height: 19px;
  top: -329px;
  left: 32%;
  opacity: 0.67;
  filter: blur(4px);
  -webkit-animation: 20s flakes linear infinite;
  -moz-animation: 20s flakes linear infinite;
  -o-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

.flake:nth-child(90) {
  width: 16px;
  height: 16px;
  top: -53px;
  left: 93%;
  opacity: 0.65;
  filter: blur(4px);
  -webkit-animation: 39s flakes linear infinite;
  -moz-animation: 39s flakes linear infinite;
  -o-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

.flake:nth-child(91) {
  width: 8px;
  height: 8px;
  top: -100px;
  left: 34%;
  opacity: 0.87;
  filter: blur(4px);
  -webkit-animation: 32s flakes linear infinite;
  -moz-animation: 32s flakes linear infinite;
  -o-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(92) {
  width: 12px;
  height: 12px;
  top: -673px;
  left: 4%;
  opacity: 0.8;
  filter: blur(3px);
  -webkit-animation: 65s flakes linear infinite;
  -moz-animation: 65s flakes linear infinite;
  -o-animation: 65s flakes linear infinite;
  animation: 65s flakes linear infinite;
}

.flake:nth-child(93) {
  width: 16px;
  height: 16px;
  top: -256px;
  left: 93%;
  opacity: 0.65;
  filter: blur(4px);
  -webkit-animation: 26s flakes linear infinite;
  -moz-animation: 26s flakes linear infinite;
  -o-animation: 26s flakes linear infinite;
  animation: 26s flakes linear infinite;
}

.flake:nth-child(94) {
  width: 6px;
  height: 6px;
  top: -595px;
  left: 58%;
  opacity: 0.63;
  filter: blur(4px);
  -webkit-animation: 56s flakes linear infinite;
  -moz-animation: 56s flakes linear infinite;
  -o-animation: 56s flakes linear infinite;
  animation: 56s flakes linear infinite;
}

.flake:nth-child(95) {
  width: 11px;
  height: 11px;
  top: -307px;
  left: 9%;
  opacity: 0.92;
  filter: blur(3px);
  -webkit-animation: 46s flakes linear infinite;
  -moz-animation: 46s flakes linear infinite;
  -o-animation: 46s flakes linear infinite;
  animation: 46s flakes linear infinite;
}

.flake:nth-child(96) {
  width: 11px;
  height: 11px;
  top: -299px;
  left: 99%;
  opacity: 0.65;
  filter: blur(3px);
  -webkit-animation: 20s flakes linear infinite;
  -moz-animation: 20s flakes linear infinite;
  -o-animation: 20s flakes linear infinite;
  animation: 20s flakes linear infinite;
}

.flake:nth-child(97) {
  width: 8px;
  height: 8px;
  top: -509px;
  left: 74%;
  opacity: 0.71;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  -moz-animation: 27s flakes linear infinite;
  -o-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(98) {
  width: 12px;
  height: 12px;
  top: -257px;
  left: 20%;
  opacity: 0.99;
  filter: blur(4px);
  -webkit-animation: 28s flakes linear infinite;
  -moz-animation: 28s flakes linear infinite;
  -o-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(99) {
  width: 16px;
  height: 16px;
  top: -206px;
  left: 48%;
  opacity: 0.84;
  filter: blur(4px);
  -webkit-animation: 64s flakes linear infinite;
  -moz-animation: 64s flakes linear infinite;
  -o-animation: 64s flakes linear infinite;
  animation: 64s flakes linear infinite;
}

.flake:nth-child(100) {
  width: 12px;
  height: 12px;
  top: -223px;
  left: 37%;
  opacity: 0.81;
  filter: blur(3px);
  -webkit-animation: 59s flakes linear infinite;
  -moz-animation: 59s flakes linear infinite;
  -o-animation: 59s flakes linear infinite;
  animation: 59s flakes linear infinite;
}

.flake:nth-child(101) {
  width: 11px;
  height: 11px;
  top: -346px;
  left: 95%;
  opacity: 0.88;
  filter: blur(3px);
  -webkit-animation: 52s flakes linear infinite;
  -moz-animation: 52s flakes linear infinite;
  -o-animation: 52s flakes linear infinite;
  animation: 52s flakes linear infinite;
}

.flake:nth-child(102) {
  width: 8px;
  height: 8px;
  top: -57px;
  left: 49%;
  opacity: 0.51;
  filter: blur(3px);
  -webkit-animation: 57s flakes linear infinite;
  -moz-animation: 57s flakes linear infinite;
  -o-animation: 57s flakes linear infinite;
  animation: 57s flakes linear infinite;
}

.flake:nth-child(103) {
  width: 13px;
  height: 13px;
  top: -292px;
  left: 100%;
  opacity: 0.73;
  filter: blur(4px);
  -webkit-animation: 67s flakes linear infinite;
  -moz-animation: 67s flakes linear infinite;
  -o-animation: 67s flakes linear infinite;
  animation: 67s flakes linear infinite;
}

.flake:nth-child(104) {
  width: 16px;
  height: 16px;
  top: -493px;
  left: 15%;
  opacity: 0.55;
  filter: blur(4px);
  -webkit-animation: 39s flakes linear infinite;
  -moz-animation: 39s flakes linear infinite;
  -o-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

.flake:nth-child(105) {
  width: 6px;
  height: 6px;
  top: -677px;
  left: 36%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 28s flakes linear infinite;
  -moz-animation: 28s flakes linear infinite;
  -o-animation: 28s flakes linear infinite;
  animation: 28s flakes linear infinite;
}

.flake:nth-child(106) {
  width: 10px;
  height: 10px;
  top: -640px;
  left: 80%;
  opacity: 0.77;
  filter: blur(4px);
  -webkit-animation: 53s flakes linear infinite;
  -moz-animation: 53s flakes linear infinite;
  -o-animation: 53s flakes linear infinite;
  animation: 53s flakes linear infinite;
}

.flake:nth-child(107) {
  width: 17px;
  height: 17px;
  top: -388px;
  left: 32%;
  opacity: 0.95;
  filter: blur(3px);
  -webkit-animation: 32s flakes linear infinite;
  -moz-animation: 32s flakes linear infinite;
  -o-animation: 32s flakes linear infinite;
  animation: 32s flakes linear infinite;
}

.flake:nth-child(108) {
  width: 7px;
  height: 7px;
  top: -640px;
  left: 49%;
  opacity: 0.98;
  filter: blur(4px);
  -webkit-animation: 21s flakes linear infinite;
  -moz-animation: 21s flakes linear infinite;
  -o-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(109) {
  width: 12px;
  height: 12px;
  top: -380px;
  left: 76%;
  opacity: 0.62;
  filter: blur(4px);
  -webkit-animation: 55s flakes linear infinite;
  -moz-animation: 55s flakes linear infinite;
  -o-animation: 55s flakes linear infinite;
  animation: 55s flakes linear infinite;
}

.flake:nth-child(110) {
  width: 11px;
  height: 11px;
  top: -249px;
  left: 32%;
  opacity: 0.55;
  filter: blur(4px);
  -webkit-animation: 62s flakes linear infinite;
  -moz-animation: 62s flakes linear infinite;
  -o-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(111) {
  width: 14px;
  height: 14px;
  top: -284px;
  left: 61%;
  opacity: 0.53;
  filter: blur(4px);
  -webkit-animation: 61s flakes linear infinite;
  -moz-animation: 61s flakes linear infinite;
  -o-animation: 61s flakes linear infinite;
  animation: 61s flakes linear infinite;
}

.flake:nth-child(112) {
  width: 8px;
  height: 8px;
  top: -531px;
  left: 98%;
  opacity: 0.86;
  filter: blur(3px);
  -webkit-animation: 63s flakes linear infinite;
  -moz-animation: 63s flakes linear infinite;
  -o-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(113) {
  width: 10px;
  height: 10px;
  top: -319px;
  left: 96%;
  opacity: 0.74;
  filter: blur(4px);
  -webkit-animation: 49s flakes linear infinite;
  -moz-animation: 49s flakes linear infinite;
  -o-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(114) {
  width: 10px;
  height: 10px;
  top: -93px;
  left: 40%;
  opacity: 0.99;
  filter: blur(4px);
  -webkit-animation: 36s flakes linear infinite;
  -moz-animation: 36s flakes linear infinite;
  -o-animation: 36s flakes linear infinite;
  animation: 36s flakes linear infinite;
}

.flake:nth-child(115) {
  width: 12px;
  height: 12px;
  top: -664px;
  left: 5%;
  opacity: 0.66;
  filter: blur(3px);
  -webkit-animation: 60s flakes linear infinite;
  -moz-animation: 60s flakes linear infinite;
  -o-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(116) {
  width: 17px;
  height: 17px;
  top: -386px;
  left: 27%;
  opacity: 0.63;
  filter: blur(4px);
  -webkit-animation: 38s flakes linear infinite;
  -moz-animation: 38s flakes linear infinite;
  -o-animation: 38s flakes linear infinite;
  animation: 38s flakes linear infinite;
}

.flake:nth-child(117) {
  width: 6px;
  height: 6px;
  top: -447px;
  left: 81%;
  opacity: 0.67;
  filter: blur(3px);
  -webkit-animation: 24s flakes linear infinite;
  -moz-animation: 24s flakes linear infinite;
  -o-animation: 24s flakes linear infinite;
  animation: 24s flakes linear infinite;
}

.flake:nth-child(118) {
  width: 12px;
  height: 12px;
  top: -322px;
  left: 94%;
  opacity: 0.69;
  filter: blur(4px);
  -webkit-animation: 63s flakes linear infinite;
  -moz-animation: 63s flakes linear infinite;
  -o-animation: 63s flakes linear infinite;
  animation: 63s flakes linear infinite;
}

.flake:nth-child(119) {
  width: 12px;
  height: 12px;
  top: -218px;
  left: 99%;
  opacity: 0.65;
  filter: blur(3px);
  -webkit-animation: 25s flakes linear infinite;
  -moz-animation: 25s flakes linear infinite;
  -o-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(120) {
  width: 12px;
  height: 12px;
  top: -526px;
  left: 11%;
  opacity: 0.67;
  filter: blur(4px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(121) {
  width: 9px;
  height: 9px;
  top: -256px;
  left: 72%;
  opacity: 0.93;
  filter: blur(3px);
  -webkit-animation: 69s flakes linear infinite;
  -moz-animation: 69s flakes linear infinite;
  -o-animation: 69s flakes linear infinite;
  animation: 69s flakes linear infinite;
}

.flake:nth-child(122) {
  width: 16px;
  height: 16px;
  top: -315px;
  left: 95%;
  opacity: 0.55;
  filter: blur(3px);
  -webkit-animation: 58s flakes linear infinite;
  -moz-animation: 58s flakes linear infinite;
  -o-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(123) {
  width: 14px;
  height: 14px;
  top: -622px;
  left: 74%;
  opacity: 0.89;
  filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(124) {
  width: 14px;
  height: 14px;
  top: -662px;
  left: 55%;
  opacity: 0.87;
  filter: blur(3px);
  -webkit-animation: 22s flakes linear infinite;
  -moz-animation: 22s flakes linear infinite;
  -o-animation: 22s flakes linear infinite;
  animation: 22s flakes linear infinite;
}

.flake:nth-child(125) {
  width: 18px;
  height: 18px;
  top: -237px;
  left: 2%;
  opacity: 0.78;
  filter: blur(3px);
  -webkit-animation: 27s flakes linear infinite;
  -moz-animation: 27s flakes linear infinite;
  -o-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(126) {
  width: 13px;
  height: 13px;
  top: -614px;
  left: 99%;
  opacity: 0.68;
  filter: blur(3px);
  -webkit-animation: 48s flakes linear infinite;
  -moz-animation: 48s flakes linear infinite;
  -o-animation: 48s flakes linear infinite;
  animation: 48s flakes linear infinite;
}

.flake:nth-child(127) {
  width: 6px;
  height: 6px;
  top: -187px;
  left: 16%;
  opacity: 0.6;
  filter: blur(3px);
  -webkit-animation: 43s flakes linear infinite;
  -moz-animation: 43s flakes linear infinite;
  -o-animation: 43s flakes linear infinite;
  animation: 43s flakes linear infinite;
}

.flake:nth-child(128) {
  width: 8px;
  height: 8px;
  top: -369px;
  left: 46%;
  opacity: 0.81;
  filter: blur(3px);
  -webkit-animation: 58s flakes linear infinite;
  -moz-animation: 58s flakes linear infinite;
  -o-animation: 58s flakes linear infinite;
  animation: 58s flakes linear infinite;
}

.flake:nth-child(129) {
  width: 16px;
  height: 16px;
  top: -453px;
  left: 62%;
  opacity: 0.97;
  filter: blur(4px);
  -webkit-animation: 62s flakes linear infinite;
  -moz-animation: 62s flakes linear infinite;
  -o-animation: 62s flakes linear infinite;
  animation: 62s flakes linear infinite;
}

.flake:nth-child(130) {
  width: 6px;
  height: 6px;
  top: -341px;
  left: 96%;
  opacity: 0.68;
  filter: blur(4px);
  -webkit-animation: 31s flakes linear infinite;
  -moz-animation: 31s flakes linear infinite;
  -o-animation: 31s flakes linear infinite;
  animation: 31s flakes linear infinite;
}

.flake:nth-child(131) {
  width: 15px;
  height: 15px;
  top: -223px;
  left: 100%;
  opacity: 0.86;
  filter: blur(3px);
  -webkit-animation: 36s flakes linear infinite;
  -moz-animation: 36s flakes linear infinite;
  -o-animation: 36s flakes linear infinite;
  animation: 36s flakes linear infinite;
}

.flake:nth-child(132) {
  width: 20px;
  height: 20px;
  top: -231px;
  left: 13%;
  opacity: 0.7;
  filter: blur(3px);
  -webkit-animation: 49s flakes linear infinite;
  -moz-animation: 49s flakes linear infinite;
  -o-animation: 49s flakes linear infinite;
  animation: 49s flakes linear infinite;
}

.flake:nth-child(133) {
  width: 13px;
  height: 13px;
  top: -499px;
  left: 33%;
  opacity: 0.95;
  filter: blur(4px);
  -webkit-animation: 68s flakes linear infinite;
  -moz-animation: 68s flakes linear infinite;
  -o-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(134) {
  width: 10px;
  height: 10px;
  top: -516px;
  left: 30%;
  opacity: 0.95;
  filter: blur(4px);
  -webkit-animation: 39s flakes linear infinite;
  -moz-animation: 39s flakes linear infinite;
  -o-animation: 39s flakes linear infinite;
  animation: 39s flakes linear infinite;
}

.flake:nth-child(135) {
  width: 13px;
  height: 13px;
  top: -362px;
  left: 2%;
  opacity: 0.99;
  filter: blur(3px);
  -webkit-animation: 34s flakes linear infinite;
  -moz-animation: 34s flakes linear infinite;
  -o-animation: 34s flakes linear infinite;
  animation: 34s flakes linear infinite;
}

.flake:nth-child(136) {
  width: 20px;
  height: 20px;
  top: -255px;
  left: 76%;
  opacity: 0.64;
  filter: blur(4px);
  -webkit-animation: 34s flakes linear infinite;
  -moz-animation: 34s flakes linear infinite;
  -o-animation: 34s flakes linear infinite;
  animation: 34s flakes linear infinite;
}

.flake:nth-child(137) {
  width: 20px;
  height: 20px;
  top: -653px;
  left: 48%;
  opacity: 0.79;
  filter: blur(3px);
  -webkit-animation: 68s flakes linear infinite;
  -moz-animation: 68s flakes linear infinite;
  -o-animation: 68s flakes linear infinite;
  animation: 68s flakes linear infinite;
}

.flake:nth-child(138) {
  width: 14px;
  height: 14px;
  top: -312px;
  left: 50%;
  opacity: 0.89;
  filter: blur(3px);
  -webkit-animation: 21s flakes linear infinite;
  -moz-animation: 21s flakes linear infinite;
  -o-animation: 21s flakes linear infinite;
  animation: 21s flakes linear infinite;
}

.flake:nth-child(139) {
  width: 14px;
  height: 14px;
  top: -63px;
  left: 49%;
  opacity: 0.59;
  filter: blur(4px);
  -webkit-animation: 41s flakes linear infinite;
  -moz-animation: 41s flakes linear infinite;
  -o-animation: 41s flakes linear infinite;
  animation: 41s flakes linear infinite;
}

.flake:nth-child(140) {
  width: 15px;
  height: 15px;
  top: -250px;
  left: 38%;
  opacity: 0.99;
  filter: blur(3px);
  -webkit-animation: 60s flakes linear infinite;
  -moz-animation: 60s flakes linear infinite;
  -o-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(141) {
  width: 8px;
  height: 8px;
  top: -205px;
  left: 91%;
  opacity: 0.78;
  filter: blur(3px);
  -webkit-animation: 16s flakes linear infinite;
  -moz-animation: 16s flakes linear infinite;
  -o-animation: 16s flakes linear infinite;
  animation: 16s flakes linear infinite;
}

.flake:nth-child(142) {
  width: 18px;
  height: 18px;
  top: -91px;
  left: 20%;
  opacity: 0.83;
  filter: blur(4px);
  -webkit-animation: 24s flakes linear infinite;
  -moz-animation: 24s flakes linear infinite;
  -o-animation: 24s flakes linear infinite;
  animation: 24s flakes linear infinite;
}

.flake:nth-child(143) {
  width: 11px;
  height: 11px;
  top: -3px;
  left: 82%;
  opacity: 0.58;
  filter: blur(3px);
  -webkit-animation: 19s flakes linear infinite;
  -moz-animation: 19s flakes linear infinite;
  -o-animation: 19s flakes linear infinite;
  animation: 19s flakes linear infinite;
}

.flake:nth-child(144) {
  width: 6px;
  height: 6px;
  top: -95px;
  left: 23%;
  opacity: 0.61;
  filter: blur(3px);
  -webkit-animation: 50s flakes linear infinite;
  -moz-animation: 50s flakes linear infinite;
  -o-animation: 50s flakes linear infinite;
  animation: 50s flakes linear infinite;
}

.flake:nth-child(145) {
  width: 16px;
  height: 16px;
  top: -72px;
  left: 99%;
  opacity: 0.52;
  filter: blur(4px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(146) {
  width: 17px;
  height: 17px;
  top: -436px;
  left: 26%;
  opacity: 0.6;
  filter: blur(4px);
  -webkit-animation: 27s flakes linear infinite;
  -moz-animation: 27s flakes linear infinite;
  -o-animation: 27s flakes linear infinite;
  animation: 27s flakes linear infinite;
}

.flake:nth-child(147) {
  width: 12px;
  height: 12px;
  top: -620px;
  left: 94%;
  opacity: 0.65;
  filter: blur(3px);
  -webkit-animation: 60s flakes linear infinite;
  -moz-animation: 60s flakes linear infinite;
  -o-animation: 60s flakes linear infinite;
  animation: 60s flakes linear infinite;
}

.flake:nth-child(148) {
  width: 17px;
  height: 17px;
  top: -90px;
  left: 80%;
  opacity: 0.7;
  filter: blur(3px);
  -webkit-animation: 18s flakes linear infinite;
  -moz-animation: 18s flakes linear infinite;
  -o-animation: 18s flakes linear infinite;
  animation: 18s flakes linear infinite;
}

.flake:nth-child(149) {
  width: 19px;
  height: 19px;
  top: -377px;
  left: 80%;
  opacity: 0.85;
  filter: blur(4px);
  -webkit-animation: 25s flakes linear infinite;
  -moz-animation: 25s flakes linear infinite;
  -o-animation: 25s flakes linear infinite;
  animation: 25s flakes linear infinite;
}

.flake:nth-child(150) {
  width: 20px;
  height: 20px;
  top: -54px;
  left: 74%;
  opacity: 0.58;
  filter: blur(3px);
  -webkit-animation: 44s flakes linear infinite;
  -moz-animation: 44s flakes linear infinite;
  -o-animation: 44s flakes linear infinite;
  animation: 44s flakes linear infinite;
}

@keyframes flakes {
  100% {
    -webkit-transform: translateY(1000px) rotateX(37deg) rotateY(50deg);
    -moz-transform: translateY(1000px) rotateX(37deg) rotateY(50deg);
    -ms-transform: translateY(1000px) rotateX(37deg) rotateY(50deg);
    -o-transform: translateY(1000px) rotateX(37deg) rotateY(50deg);
    transform: translateY(1000px) rotateX(37deg) rotateY(50deg);
    opacity: 0;
  }
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Varela Round", sans-serif;
  background-image: -owg-linear-gradient(bottom, #B7E7FC 0%, #00A3EF 100%);
  background-image: -webkit-linear-gradient(bottom, #B7E7FC 0%, #00A3EF 100%);
  background-image: -moz-linear-gradient(bottom, #B7E7FC 0%, #00A3EF 100%);
  background-image: -o-linear-gradient(bottom, #B7E7FC 0%, #00A3EF 100%);
  background-image: linear-gradient(bottom, #B7E7FC 0%, #00A3EF 100%);
}

h1 {
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 25%;
}